h1{
    text-decoration: underline 2px #00F;

}

h2{

    border: 2px solid #AAA
}


.primera{

border-top: 4px dotted red;
  border-bottom: 4px dotted red;

}

.segunda{

border-style: dotted;
border-width:  2px;
border-color: #0F0;
}





