*{
    text-align: center;
}
table{
    width: 150px;
    margin-left: auto;
    margin-right: auto;
   border-collapse: collapse;
    border: 1px solid black;

}
th,td{
    border: 1px solid black ;
}



img{
    height: 50px;
    width: 50px;
}

th[colspan="3"]{
    background-color: blue;
}

th[colspan="2"]{
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: blue;
}

th[class="primera"]{
    background-color: red;
    color: white;

}

td[class="gb"]{
    background-color: gainsboro;
    font-size: 10mm;

}
th[class="primera"]>th{
    background-color: white;
}

ul[id="tres"]>li{
    color: red;

}

td[colspan="2"]{
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: blue;
    color: red;
}
 th[id="cinco"]{
     padding-top: 40px;
     padding-bottom: 40px;
     background-color: yellow;
 }

 