table{
    border-collapse: collapse;
    border: 1px solid black;

}
th,td{
    border: 1px solid black ;
}

td[colspan="uno"]{
    background-color: green;
}

th[colspan="5"]{
    background-color:  yellow;
}

a[href="#"]:link{
    text-decoration: none;
    color: green;
}

a[href="#"]:visited{
    text-decoration: none;
    color:red;
}

input[placeholder="Inserte email del destinario"]{
    margin-left: 5px;
    border: 1px solid red;
}

label[for="obligatorio"]{
    color: red;
}

th[colspan="aumento"]::first-letter{
    font-size: 2rem;

}

